body {
  display: flex;
  justify-content: center;
  margin: 100px;
}

#container {
  display: flex;
}

h2 {
  text-decoration: underline;
}

#menu {
  width: 250px;
  padding: 10px;
  margin: 200px 100px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

#main {
  width: 750px;
  height: 100%;
  margin-top: 2%;
  text-align: center;
  /* font-family: calibri; */
  font-size: 14pt;
  border-radius: 20px;
  padding: 5px;
  background-color: #ECF39E;
  box-shadow: 0 0 10px rgb(180, 255, 173);
  border: 10px solid #30542F;
}

#main button {
  width: 250px;
  padding: 15px;
  background-color: #729C5D;
  border-radius: 15px;
  border-color:#0D5D56;
  border-width: 2px;
  color: #FDFFE4;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

#main button:hover {
  background-color: #30542F;
  color:#729C5D;
}

#item-container {
  display: flex;
  justify-content: center;
  margin: 35px;
  margin-bottom: 0px;
}

#item-upgrade {
  width:50%;
  height:200px;
  background-color: #30542F;
  padding: 10px;
  
}

#mats-needed {
  width:50%;
  height: 200px;
  background-color: #30542F;
  padding: 10px;
}

#menu button {
  width: 250px;
  padding: 14px;
  background-color: #E1F4CB;
  border-radius: 15px;
  border-style: none;
  color: #0D5D56;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin: 3px 0;
}

#menu button:hover {
  background-color: #FDFFE4;
}

#map {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#terrarium {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background-color: #FDFFE4;
}

/* remove this once it is possible to select items in terrarium */
#terrarium:hover {
  background-color:#E1F4CB;
}

#terra_name_input {
  width: 40%;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  margin : 10px;
  background-color: #729C5D;
  border-color:#0D5D56;
  border-width: 2px;
  color: #FDFFE4;
  font-weight: bold;
  cursor: pointer;
}

#terra_name_input:hover {
  background-color: #30542F;
  color:#729C5D;
}

#map {
  visibility: hidden;
}