#main {
    width: 425px;
    height: 100%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: calibri;
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }